<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Huellitas♥</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/all.min.css" rel="stylesheet">
    <link href="../../css/mis-estilos.css" rel="stylesheet">
    <!-- Fonts de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Protest+Revolution&family=Protest+Riot&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container mt-5" id="app">
        <div class="card border-primary mb-3 mx-auto" style="max-width: 30rem;">
            <div class="card-header protest-riot-regular text-center">
                <h5>CREA TU USUARIO ♥</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Ingresa tus datos</h5>
                <form class="row g-3">
                    <div class="col-12">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa tu Nombre" required v-model="nombre">
                    </div>
                    <div class="col-12">
                        <label for="apellido" class="form-label">Apellido:</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingresa tu Apellido" required v-model="apellido">
                    </div>
                    <div class="col-12">
                        <label for="correo" class="form-label">Correo electrónico:</label>
                        <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingresa tu correo" required v-model="correo">
                    </div>
                    <div class="col-12">
                        <label for="usuario" class="form-label">Usuario:</label>
                        <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario" required v-model="usuario">
                    </div>
                    <div class="col-12">
                        <label for="contrasena" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña" required v-model="clave">
                    </div>
                    <i><b>Nota:</b> Todos los campos son obligatorios</i>
                    <br>
                    <div class="col-12 mt-4 text-center">
                        <button type="submit" class="btn btn-primary" v-on:click="grabar()"><i class="fa-solid fa-user-plus"></i> Crear usuario</button>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='/index.html'"><i class="fa-solid fa-rotate-left"></i> Volver al inicio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--<script src="../../js/vue.global.js"></script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="/js/usuario.js"></script>
    <script src="/js/header_footer.js"></script>
</body>

</html>
